<html>
<body>

  <h1>Rumble in the Digital Jungle</h1>

  <div>
    <h2><%= Game.view_game.player_1.name %> Vs. <%= Game.view_game.player_2.name %></h2>
  </div>

  <div>
    <h3><%= Game.view_game.player_1.hp %> HP : <%= Game.view_game.player_2.hp %> HP</h3>
  </div>

  <div>
    <p>It's <%= Game.view_game.turn[0].name %>'s turn to ATTACK!<p/>
  <div>
    <form action='/attack'>
      <input type="submit" value="Attack!" />
    </form>
  </div>
</body>
</html>
